In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  
from sklearn import linear_model

In [3]:
df = pd.read_csv('carprices.csv')
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [7]:
new_df = pd.get_dummies(df['Car Model'])
new_new_df = new_df.drop('Audi A5',axis='columns')
new_new_df

    BMW X5  Mercedez Benz C class
0     True                  False
1     True                  False
2     True                  False
3     True                  False
4     True                  False
5    False                  False
6    False                  False
7    False                  False
8    False                  False
9    False                   True
10   False                   True
11   False                   True
12   False                   True

In [ ]:
df = df.drop('Car Model',axis='columns')
df = df.drop('Sell Price($)',axis='columns')
concated_df = pd.concat([df,new_new_df],axis = 'columns')
concated_df

KeyError: "['Car Model'] not found in axis"